.timeline {
  position: relative;
  max-width: 1200px;
  margin: 60px auto;
}

.containers {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.text-box {
  padding: 20px 30px;
  background: rgb(245, 245, 245);
  position: relative;
  border-radius: 6px;
}

.containers .gza {
  position: absolute;
  /* width: 40px; */
  border-radius: 50%;
  right: -30px;
  top: 32px;
  z-index: 10;
}

.containers .incognito {
  position: absolute;
  /* width: 40px; */
  border-radius: 50%;
  right: -25px;
  top: 32px;
  z-index: 10;
}

.left-container img {
  position: absolute;
  border-radius: 50%;
  top: 32px;
  z-index: 10;
  left: -25px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: transparent;
  /* background-color: #a9725c; */
  border-radius: 20px;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  /* border-left: 15px solid #a9725c; */
  border-left: 15px solid rgb(245, 245, 245);
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  /* border-left: 15px solid #a9725c; */
  border-right: 15px solid rgb(245, 245, 245);
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 30px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .containers {
    width: 95%;
    margin: auto;
    padding-left: 80px;
    padding-right: 0px;
  }
  .text-box {
    font-size: 13px;
  }
  .text-box small {
    margin-bottom: 10px;
  }

  .left-container img,
  .right-container img {
    left: -5px;
  }

  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid rgb(245, 245, 245);
    border-left: 0;
    left: -15px;
  }
}
